[Desktop Entry]
Categories=
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/KuWo/KuWo
Icon=/media/sonichy/job/HY/Linux/Qt/KuWo/icon.png
MimeType=
Name=酷我
Path=/media/sonichy/job/HY/Linux/Qt/KuWo
Terminal=false
Type=Application
